# 导入模块

In [1]:
import numpy as np
import pandas as pd
import xlwings as xw
from openpyxl import load_workbook
import matplotlib.pyplot as plt
plt.rcParams["font.sans-serif"]=["SimHei"]
plt.rcParams["axes.unicode_minus"]=False

import warnings
warnings.filterwarnings("ignore")

import pymysql
from sqlalchemy import create_engine
import gc
import json
import random
import datetime
from datetime import timedelta ,time, datetime
from dateutil.relativedelta import relativedelta
import re
import os
import glob
import sys
# 获取当前工作目录
current_dir = os.getcwd()
# 将模块所在的目录添加到 sys.path
module_dir = os.path.join(current_dir, '../Class_Model')
sys.path.append(module_dir)
from All_Class import All_Model, Week_Model, Data_Clean

pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# 实例化All_Model类
all_models = All_Model()
week_models = Week_Model()
clean = Data_Clean()

# 导入订单数据

In [151]:
# risk_alipay_auth_query: rentOnlineRiskLevelOverall,综合风险等级; rentOnlineDetailLevelOverall,细化综合风险等级.
sql_kq = ''' -- 订单&风控信息  近10日数据   
SELECT date(om.create_time) as create_date,om.create_time,om.id as order_id ,om.order_number,om.all_money 
,om.status, om.user_id, om.overdue, om.alipay_order_id, om.cancel_reason
,case om.`status` when  1 then "待支付" when  2 then "待发货" when  3 then "待收货" when  4 then "租赁中" when  5 then "待归还" 
when  6 then "待商家收货" when  7 then "退押中" when  8 then "已完成" when  10 then "已退款" when  11 then "待退押金" when  12 then "待审核" 
when  13 then "订单取消" when  15 then "检测中" when  9999 then "逾期订单" end as status2 
,case when locate('租物',pa.name)>0 or locate('租物',cc.name)>0 or locate('芝麻',pa.name)>0 or locate('芝麻',cc.name)>0  then '芝麻租物' when locate('抖音',pa.name)>0 then '抖音渠道' when locate('搜索',cc.name)>0 then '搜索渠道' else '其他渠道' end as channel_type 
,tod.sku_attributes, tod.new_actual_money   -- , tod.product_name, tod.product_id
,case when  locate('租完即送',tod.sku_attributes)>0 then '租完即送' else '租物归还' end as back_type
,om.user_mobile,tmu.true_name,tmu.id_card_num
,top.total_describes
,tor.decision_result, tor.update_time
,replace(case when JSON_VALID(tor.decision_result) THEN JSON_EXTRACT(tor.decision_result, '$.traceid') end,'"','') as trace_id 
,replace(case when JSON_VALID(tor.decision_result) THEN JSON_EXTRACT(tor.decision_result, '$.rejected') end,'"','') as rejected 
,replace(case when JSON_VALID(tor.decision_result) THEN JSON_EXTRACT(tor.decision_result, '$.result') end,'"','') as result 
,replace(case when JSON_VALID(tor.decision_result) THEN JSON_EXTRACT(tor.decision_result, '$.tips') end,'"','') as tips  
,replace(case when JSON_VALID(tor.risk) THEN JSON_EXTRACT(tor.risk, '$.is_vip') end,'"','') as is_vip
,replace(case when JSON_VALID(tor.risk) THEN JSON_EXTRACT(tor.risk, '$.status') end,'"','') as status_result
,replace(case when JSON_VALID(tor.risk) THEN JSON_EXTRACT(tor.risk, '$.queue_verify_type') end,'"','') as qvt_risk
,replace(case when JSON_VALID(tor.decision_result) THEN JSON_EXTRACT(tor.decision_result, '$.queue_verify_type') end,'"','') as qvt_result
,cc.name as channel_name         -- 来源渠道
,cc.channel_type_id              -- 渠道id
,pa.type, pa.name as activity_name        -- 活动名称
,om.merchant_id,om.merchant_name, om.has_actual
,topay.total_freeze_fund_amount
,om.buy_service_product
-- ,tso.status as service_status 
,om.order_method, om.activity_id, om.appid
, tprm.max_overdue_days, tprm.purchase_amount, tprm.liquidated_damages 违约金, tprm.rent_received 已收租金 , tprm.paid_buyout_balance_payment 已付买断尾款

, tomt.reason
, om.order_type, om.union_rent_tag
-- , tojo.app_type
, tolog.status 物流状态
, replace(case when JSON_VALID(risk.data) THEN JSON_EXTRACT(risk.data, '$.rejected_ato_risk') end,'"','') as rejected_ato_risk  # 联合拒量

, replace(case when JSON_VALID(risk.data) THEN JSON_EXTRACT(risk.data, '$.union_rent_rejected') end,'"','') as union_rent_rejected   # 联合运营

, replace(case when JSON_VALID(risk.data) THEN JSON_EXTRACT(risk.data, '$.strategy_241011') end,'"','') as strategy_241011                    # 拒量
, replace(case when JSON_VALID(risk.data) THEN JSON_EXTRACT(risk.data, '$.strategy_241205_rejected') end,'"','') as strategy_241205_rejected  # 拒量
, replace(case when JSON_VALID(risk.data) THEN JSON_EXTRACT(risk.data, '$.strategy_241212_rejected') end,'"','') as strategy_241212_rejected  # 拒量
, replace(case when JSON_VALID(risk.data) THEN JSON_EXTRACT(risk.data, '$.strategy_250120_rejected') end,'"','') as strategy_250120_rejected  # 拒量
, replace(case when JSON_VALID(risk.data) THEN JSON_EXTRACT(risk.data, '$.strategy_250330_rejected') end,'"','') as strategy_250330_rejected  # 拒量

, rarr.data, rarr.orderConcurrentRentRisk
, raaq.rentOnlineDetailLevelOverall
-- , ymos.money, ymos.part_payment, ymos.refund_date, ymos.reality_refund_date, ymos.sort, ymos.status 分期租金支付状态
from  db_digua_business.t_order  om
left join db_digua_business.t_postlease_receivables_monitoring tprm on tprm.order_id=om.id
left join db_digua_business.t_order_risk tor on om.id = tor.order_id
-- 备注信息合并 
left join ( SELECT  t.order_id,JSON_ARRAYAGG(t.describes) as total_describes from db_digua_business.t_order_personnel t   GROUP BY 1 ) top 
on om.id = top.order_id 
-- 服务信息
-- left join  db_digua_business.t_service_order tso  on om.id = tso.order_id 
-- 渠道名称
left join db_digua_business.t_channel cc on om.channel = cc.scene 
-- 活动名称
left join db_digua_business.t_platform_activity pa on om.activity_id = pa.id
-- 用户信息 
left join db_digua_business.t_member_user tmu on om.user_id = tmu.id
-- 商品信息
left join db_digua_business.t_order_details tod on om.id = tod.order_id
-- 免押信息  
left join (SELECT t.*,row_number() over(partition by t.order_id order by t.pay_date desc) as rn 
from db_digua_business.t_order_pay t 

where t.pay_type = 'ZFBYSQ' and t.item_type=1 and t.`status` in (2,5) and t.trade_no is not null )  topay 
on topay.order_id=om.id   and  topay.rn = 1 
-- 商家订单转移表
left join db_digua_business.t_order_merchant_transfer tomt on tomt.order_id=om.id
-- 京东外部订单关联表
-- left join db_digua_business.t_order_jd_out_no tojo on tojo.order_id=om.id
-- 订单物流表
left join db_digua_business.t_order_logistics tolog on tolog.order_id=om.id
-- 租后分期表
-- left join db_rent.ya_merchant_order_stages ymos on ymos.order_id=om.id
left join db_credit.risk risk on risk.order_id=om.id
left join db_credit.risk_alipay_rent_risk rarr on om.order_number = rarr.out_biz_no
left join db_credit.order_association oa on oa.order_id=om.id
left join db_credit.risk_alipay_auth_query raaq on oa.trace_id = raaq.trace_id


where om.user_mobile is not null 
-- 曙光计划订单会在去重逻辑中剔除，这里不做过滤，否则存在非线下小店订单被剔除的情况
-- and tmu.true_name not in ("刘鹏","谢仕程","潘立","洪柳","陈锦奇","周杰","卢腾标","孔靖","黄娟","钟福荣","邱锐杰","唐林华"
-- ,"邓媛斤","黄子南","刘莎莎","赖瑞彤","孙子文",'张娜','罗文龙','孔靖','彭康力','何薪华','夏玥','潘佳','包闻天','方全龙','李楠','向圆圆','黄兰娟','林婉婷','廖丽敏','李巧玲','李巧凤','刘三妹','蔡斯静','陈宜诗','陈宝易','林寅钗','谢金凤','刘宏生','骆昌鑫','何静', '李珍珍')
-- and pa.type!=4 号卡活动，已过期，不统计

# and  om.create_time >= DATE_ADD(CURRENT_DATE,INTERVAL -20 day )               -- 近20天数据
-- and  om.create_time <= DATE_ADD(CURRENT_DATE,INTERVAL -0 day )
and  DATE_FORMAT(om.create_time, '%Y-%m-%d')>='2025-10-11'
and  DATE_FORMAT(om.create_time, '%Y-%m-%d')<='2025-10-13'
and  om.order_type='ZFB_ORDER'

'''

df_kq = clean.query(sql_kq)
df_kq.shape

(36924, 60)

In [88]:
# df = df_kq.copy()

# 数据处理

In [183]:
def process_data(df_order):
    # 复制数据
    df = df_order.copy()
    # df = df[df.type!=4]
    
    # 处理日期
    df["下单日期"]=df["create_time"].dt.date
    df["下单日期"]=pd.to_datetime(df["下单日期"],errors="coerce")
    print(df["下单日期"].unique())
    df["月份"]=df["下单日期"].dt.month
    df["下单月份"]=df["create_time"].dt.strftime('%Y-%m')
    df['年份'] = df["下单日期"].dt.year
    df['hour'] = df['create_time'].dt.hour
    
    # 处理备注信息
    df = df[df['sku_attributes'].notnull()]
    df['拒绝理由'] = df["rejected"].fillna('').str.replace(r'[\[\]"]', '', regex=True)
    # df['拒绝理由'] = df["rejected"].str.replace("[","").str.replace("]","").str.replace('"','')

    df['拒绝理由_risk']= df['rejected'].fillna('')+df['strategy_241205_rejected'].fillna('')+df['strategy_241212_rejected'].fillna('')+df['strategy_241011'].fillna('')+df['strategy_250120_rejected'].fillna('')+df['strategy_250330_rejected'].fillna('')+df['union_rent_rejected'].fillna('')+df['rejected_ato_risk'].fillna('')

    df.loc[:, '拒绝理由'] = np.where(df['拒绝理由'] == '', df['拒绝理由_risk'], df['拒绝理由'])
    df['拒绝理由'] = df["拒绝理由"].str.replace("[","").str.replace("]","").str.replace('"','')
    # 确保 total_describes 列为字符串类型
    df["total_describes"] = df["total_describes"].astype(str).fillna("")
    
    df["取消原因"] = df["total_describes"].apply(lambda x: x.split("客户申请取消：")[1].split("$")[0].strip() if "客户申请取消：" in x and len(x.split("客户申请取消：")) > 1 else None)
    df["电审拒绝原因"] = df["total_describes"].apply(lambda x: x.split("审核不通过：")[1].split("$")[0].strip() if "审核不通过：" in x and len(x.split("审核不通过：")) > 1 else None)
    df["无法联系原因"] = df["total_describes"].apply(lambda x: x.split("用户无法联系：")[1].split("$")[0].strip() if "用户无法联系：" in x and len(x.split("用户无法联系：")) > 1 else None)
    
    
    
    df.loc[:,"押金类型"]=np.where(df["total_freeze_fund_amount"]>0,"部分免押","全免押")
    df.loc[:,"是否进行预授权"]=np.where(df["total_freeze_fund_amount"].isnull(),"未预授权","已预授权")

    # 处理备注信息
    # df['取消原因2'] = df['cancel_reason'].str.split('：').apply(lambda x: x[-1] if x is not None else x)


    df.loc[:,"进件"]=np.where((df["status2"]=="待支付")|(df["status2"]=="订单取消"),"未进件","进件")


    df.loc[:,"来源渠道"]=df["channel_name"].fillna("未知渠道")
    df.loc[:,"退货拒签"] = np.where(df['物流状态']==5, 1, 0)
    # df.loc[:,'机型内存'] = df['机型'] +'_'+ df['内存']
    
    df['免审'] = np.where(df.decision_result.str.contains(pat='免人审',regex=False),1,0)
    
    df.loc[:,"归属渠道"]=df.apply(lambda x: clean.qudao_type(x["来源渠道"],x["activity_name"],x["order_method"], x['channel_type_id'], x['order_type']),axis=1)
    
    df.loc[:,'comprehensive_risk_level'] = df['data'].apply(lambda x:json.loads(x).get('comprehensive_risk_models',{}).get('risk_level') if pd.notna(x) else None)
    
    # 订单去重
    # df = clean.order_drop_duplicates(df)
    df.drop_duplicates(subset=["id_card_num", "下单日期"], keep="last", inplace=True)
    
    # 定义状态
    df['是否前置拦截'] = np.where((df.result.str.contains('id_card不得为空') )|(df.result.str.contains('mobile校验不通过')) |(df.result.str.contains('name校验不通过'))
                        |(df.result.str.contains('年龄超过49岁或低于18岁'))|(df.result=='风控未通过')|(df.result=='黑名单用户'),1,0)
    df['是否机审强拒'] = np.where((df.result.str.contains('风控拒绝') & (~df.result.str.contains('命中出库前风控流强拒').fillna(False)) ),1,0)
    df['是否出库前风控强拒'] = np.where((df.result.str.contains('命中出库前风控流强拒').fillna(False)) |((df.total_describes.str.contains('蚂蚁数控风险等级').fillna(False)) & (~df.result.str.contains('黑名单用户').fillna(False))) ,1,0)
    
    df.loc[:,"审核状态"]=df.apply(lambda x: clean.reject_type(x["拒绝理由"],x["进件"],x["电审拒绝原因"],x["取消原因"],x["status2"],x["无法联系原因"],x["total_describes"],x['是否前置拦截'],x['是否机审强拒'],x['是否出库前风控强拒']),axis=1)#,x["无法联系原因"]
    
    df['租安盾'] = df['data'].apply(lambda x:json.loads(x).get('comprehensive_risk_models',{}).get('risk_level') if pd.notna(x) else '缺失').fillna('缺失')
    df['进阶版'] = df['rentOnlineDetailLevelOverall'].fillna('缺失')
    # 保留、剔除商家数据
    # df_contain = df.copy()
    df = clean.drop_merchant(df)
    # 去重订单明细导出
    # today = datetime.today() 
    # t_date = today.date().strftime('%Y-%m-%d')
    df["是否出库"] = np.where(df["status"].isin([2, 3, 4, 5, 6, 8, 15]), 1, 0)
    # df_j = df[df["进件"]=="进件"]
    # df_ck = 
    
    # df = clean.status_node(df)
    
    # # 剔除拒量订单
    df2 = df.copy()
    df2 = clean.drop_rejected_merchant(df2)
    # df2 = df2[df2.是否拒量==0]
    # day_name_cn_mapping = {
    #     'Monday': '星期一',
    #     'Tuesday': '星期二',
    #     'Wednesday': '星期三',
    #     'Thursday': '星期四',
    #     'Friday': '星期五',
    #     'Saturday': '星期六',
    #     'Sunday': '星期日'
    # }
    
    return df, df2

# 结果输出

In [184]:
df, df2 = process_data(df_kq)

<DatetimeArray>
['2025-10-11 00:00:00', '2025-10-12 00:00:00', '2025-10-13 00:00:00']
Length: 3, dtype: datetime64[ns]

In [186]:
df.shape

(14159, 85)

In [187]:
df_j = df2[df2["进件"]=="进件"]
print(df_j.shape)
df_ck = df2[df2['是否出库']==1]#316
df_ck.shape

(2134, 85)

(316, 85)

## 租安盾、进阶版进件交叉表

In [164]:
# pd.pivot_table(df_j[df_j.来源渠道.isin(qd_list)],values='order_id', index=["下单日期", '商品ID'], columns='来源渠道', aggfunc='count')
pd_jj = pd.pivot_table(data=df_j, values='order_id', index='租安盾',columns='进阶版', aggfunc='count', margins=True)
pd_jj

进阶版      0      1      2      3      4     5     6     缺失   All
租安盾
T1    46.0   30.0    7.0    4.0    4.0   1.0   1.0    NaN    93
T2    47.0   94.0   45.0   33.0   30.0   6.0   1.0    NaN   256
T3    16.0   46.0   43.0   34.0   44.0   5.0   NaN    NaN   188
T4    16.0   63.0   56.0   54.0  103.0   8.0   2.0    NaN   302
T5    20.0   33.0   36.0   52.0   87.0  11.0   4.0    NaN   243
T6    26.0   55.0   68.0   48.0  108.0  20.0   4.0    NaN   329
T8     NaN    NaN    NaN    NaN    1.0   NaN   NaN    NaN     1
T9     NaN    1.0    NaN    NaN    NaN   NaN   NaN    NaN     1
缺失   110.0  116.0  112.0   82.0  124.0   2.0   5.0  170.0   721
All  281.0  438.0  367.0  307.0  501.0  53.0  17.0  170.0  2134

## 租安盾、进阶版出库交叉表

In [165]:
pd_ck = pd.pivot_table(data=df_ck, values='order_id', index='租安盾',columns='进阶版', aggfunc='count', margins=True)
pd_ck

进阶版   0   1   2   3   4  All
租安盾
T1   14   7   1   1   1   24
T2    9  27  10   8   5   59
T3    2   7  13   5   3   30
T4    6  14  12  10  10   52
T5    5   5   4  10   4   28
T6    7   8  11   9  12   47
缺失   15  22  12  11  16   76
All  58  90  63  54  51  316

In [172]:
with pd.ExcelWriter('F:\需求\倩姐需求\支付宝租安盾进阶版等级分布.xlsx') as writer:
    pd_jj.to_excel(writer, sheet_name='进件', index=True)
    pd_ck.to_excel(writer, sheet_name='出库', index=True)

In [18]:
df_tmp = df[~((df.comprehensive_risk_level.isna()) & (df.orderConcurrentRentRisk.isna()))][['order_number', 'comprehensive_risk_level', 'orderConcurrentRentRisk']]
df_tmp.comprehensive_risk_level.value_counts()

comprehensive_risk_level
T6     778
T4     758
T3     694
T2     588
T5     418
T1     234
T7       7
T8       3
T9       3
T10      2
Name: count, dtype: int64

In [19]:
df_tmp.orderConcurrentRentRisk.value_counts()

orderConcurrentRentRisk
nor     5179
low     2351
mid      271
high     177
sup      107
Name: count, dtype: int64

# 验证租安盾与进阶版分流

In [173]:
# 租安盾
sql_zad = """
select om.order_number , om.user_id, rarr.data, rarr.trace_id -- , raq.rentOnlineDetailLevelOverall, oa.trace_id
from db_digua_business.t_order om
-- left join db_credit.order_association oa on oa.order_id = om.id
left join db_credit.risk_alipay_rent_risk rarr on rarr.out_biz_no = om.order_number
-- left join db_credit.risk_alipay_auth_query raq on raq.trace_id = oa.trace_id

where date_format(om.create_time,'%Y-%m-%d')>='2025-10-11'
and om.status not in (1, 13)

"""
df = clean.query(sql_zad)
df.shape

(7345, 4)

In [178]:
# 0-7是租安盾，8、9是进阶版
df_zad = df.copy()
df_zad['risk_level'] = df_zad['data'].apply(lambda x:json.loads(x).get('comprehensive_risk_models',{}).get('risk_level') if pd.notna(x) else None)
df_zad['comprehensive_risk_models'] = df_zad['data'].apply(lambda x:json.loads(x).get('comprehensive_risk_models',{}) if pd.notna(x) else None)
df_zad.loc[:, 'user_id尾数'] = df_zad['user_id'].astype(str).apply(lambda x: x[-1] if len(x) > 0 else '')
df_zad.loc[:, 'label'] = np.where(df_zad['comprehensive_risk_models'].notna(), np.where(df_zad['comprehensive_risk_models']!={}, '租安盾','进阶版'), '其他')
df_zad.loc[:, 'label2'] = np.where(df_zad['comprehensive_risk_models']!={}, '租安盾','进阶版')
df_zad#[df_zad['user_id尾数']=='8']#[df_zad['data'].notna()]

,order_number,user_id,data,trace_id,risk_level,comprehensive_risk_models,user_id尾数,label,label2
0,A202510110001402,25343177,"{""msg"": ""Success"", ""code"": ""10000"", ""risk_info...",ffb8034b1fb9e14c896c085e90378fea,None,{},7,进阶版,进阶版
1,A2025101100083633,25343194,"{""msg"": ""Success"", ""code"": ""10000"", ""risk_info...",211831fbb1789e888354a27ab2041b0b,None,{},4,进阶版,进阶版
2,A2025101100121545,25343200,None,None,None,None,0,其他,租安盾
3,A2025101100145257,25343205,"{""msg"": ""Success"", ""code"": ""10000"", ""risk_info...",534181a6d69dae9dfe6fc66b96f63f97,T6,"{'risk_level': 'T6', 'risk_level_type': 'Tn_Le...",5,租安盾,租安盾
4,A2025101100145458,25342950,None,None,None,None,0,其他,租安盾
...,...,...,...,...,...,...,...,...,...
7340,A20251014145050870,25334015,None,None,None,None,5,其他,租安盾
7341,A20251014145057872,25361656,None,None,None,None,6,其他,租安盾
7342,A20251014145115877,25361727,"{""msg"": ""Success"", ""code"": ""10000"", ""risk_info...",78b5d6478890f278a0ac8b22537f7279,T4,"{'risk_level': 'T4', 'risk_level_type': 'Tn_Le...",7,租安盾,租安盾
7343,A20251014145122879,25303294,"{""msg"": ""Success"", ""code"": ""10000"", ""risk_info...",e77d6131422ac18e507db605f61edba5,T3,"{'risk_level': 'T3', 'risk_level_type': 'Tn_Le...",4,租安盾,租安盾
7344,A20251014145253899,24461914,"{""msg"": ""Success"", ""code"": ""10000"", ""risk_info...",b08cd0f737cbc38f23ff52ecb697c3e6,T3,"{'risk_level': 'T3', 'risk_level_type': 'Tn_Le...",4,租安盾,租安盾

In [177]:
# label为租安盾的总数/label为进阶版的总数
df_zad['label2'].value_counts(normalize=True)

label2
租安盾    0.90388
进阶版    0.09612
Name: proportion, dtype: float64

In [175]:
df_zad['label'].value_counts(normalize=True)

label
其他     0.572362
租安盾    0.331518
进阶版    0.096120
Name: proportion, dtype: float64