# 仕程的需求，口径已经对齐，直接点全部运行

In [1]:
import numpy as np
import pandas as pd
import xlwings as xw
from openpyxl import load_workbook
import matplotlib.pyplot as plt
plt.rcParams["font.sans-serif"]=["SimHei"]
plt.rcParams["axes.unicode_minus"]=False

import warnings
warnings.filterwarnings("ignore")

import pymysql
from sqlalchemy import create_engine
import json
import datetime
from datetime import timedelta ,time, datetime
from dateutil.relativedelta import relativedelta
import re
import os
import glob
import sys
# 获取当前工作目录
current_dir = os.getcwd()
# 将模块所在的目录添加到 sys.path
module_dir = os.path.join(current_dir, '../Class_Model')
sys.path.append(module_dir)
from All_Class import All_Model, Week_Model, Data_Clean

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# 实例化All_Model类
all_models = All_Model()
week_models = Week_Model()
clean = Data_Clean()

In [3]:
def query(sql,
          host="rr-wz9wx0w3yti9d4f6wro.mysql.rds.aliyuncs.com",
          user="ylc",
          password="1O8t5lcJ5aMhwwPEUUjS",
          database = '' ,
          port=3306
         ):   
    conn = pymysql.connect(
        host=host,
        user=user,
        port=port,
        password=password,
        max_allowed_packet=1073741824,
        charset="utf8")
    try:
        df = pd.read_sql(sql, con=conn)
        conn.close()
    except:
        print('error')
        conn.close()
        raise
    return df

# 归还逾期

In [17]:
# 归还逾期overdue_type=1，2为租赁期间有逾期
sql = '''
select
yat.order_id, yat.add_time, yat.allot_time, yat.agent_user_name,yat.max_day, tprm.search_time, om.status, om.has_actual, tprm.relet_days, tprm.relet_periods,yat.task_number,
yat.应催收金额, yat.实际催回金额
from (select distinct task_number, order_id,add_time,agent_user_name,allot_time, max_day, money_expect 应催收金额, money 实际催回金额 from db_rent.ya_agent_task where overdue_type=1) yat
left join db_digua_business.t_order om on om.id=yat.order_id
left join db_digua_business.t_postlease_receivables_monitoring tprm on tprm.order_id=yat.order_id
where  yat.max_day IN (26,27,29,31)

'''
df = query(sql)
# df.drop_duplicates(subset=['order_id'], inplace=True)

In [18]:
t_date = datetime.now().strftime('%Y%m%d%H')
# allot_time任务分配时间
df.loc[:, 'date'] = df.allot_time.dt.strftime('%Y-%m-%d')
df.loc[:, '姓名'] = df.agent_user_name.apply(lambda x: str(x).split('-')[-1])
df.loc[:, '已买断'] = np.where((df.status==8)&(df.has_actual==1)&(df.relet_days==0), 1, 0)
df.loc[:, '已归还'] = np.where((df.status.isin([8, 15, 16]))&(df.has_actual==0)&(df.relet_days==0), 1, 0)
df.loc[:, '已续租'] = np.where(df.relet_days>0, 1, 0)
df.loc[:, '仍在逾期'] = np.where((df.status==5)&(df.relet_days==0), 1, 0)
df_g = df.groupby('search_time').agg({'order_id': 'count', '已买断': 'sum', '已归还': 'sum', '已续租': 'sum', '仍在逾期': 'sum'}).rename(columns={'order_id': '归还逾期数量'})
df_g = df_g.rename_axis('下单月份')

# # df_g.to_excel('F:/x.xlsx')
# with pd.ExcelWriter(f'F:/需求/仕程需求/归还逾期_{t_date}.xlsx', engine='xlsxwriter') as writer:
#     df_g.to_excel(writer, sheet_name='归还逾期')

In [14]:
# df_g

         归还逾期数量  已买断  已归还  已续租  仍在逾期
下单月份
2023-11       5    0    0    5     0
2023-12       2    0    0    2     0
2024-01       1    0    0    1     0
2024-02      31    4    0    7    20
2024-03     127   17    3   29    78
2024-04     237   51    5   65   112
2024-05     186   38    0   33   114
2024-06     201   31   11   74    84
2024-07     312   39   13  118   139
2024-08     344   63   12  113   153
2024-09     415   29    9  128   244
2024-10      16    0    0    0    14
2025-01       1    0    1    0     0

## 催收完成情况

In [19]:
# 林大鲲 陈锐 吴威宇 张文奔 郑瑞杰 江文祥 郑文涛 李成铭
# 改时间
df_ghyq = df[(df.date>='2025-08-01')&(df.date<='2025-08-31')&(df.姓名.isin(['林大鲲','吴威宇','陈锐', '张文奔', '郑瑞杰', '郑文涛', '李成铭']))]
# df_ghyq = df_ghyq.sort_values('allot_time').groupby('order_id').head(1)
df_ghyq = df_ghyq.sort_values('allot_time').groupby('task_number').head(1)
df_ghyq_g = df_ghyq.groupby('姓名').agg({'order_id': 'count', '已买断': 'sum', '已归还': 'sum', '已续租': 'sum', '仍在逾期': 'sum', '应催收金额': 'sum', '实际催回金额': 'sum'}).rename(columns={'order_id': '分配数'})
df_ghyq_g.loc[:, '总完成'] = df_ghyq_g.已买断+df_ghyq_g.已归还+df_ghyq_g.已续租
df_ghyq_g.loc[:, '总完成率'] = (df_ghyq_g.总完成/df_ghyq_g.分配数).map(lambda x: format(x, '.2%'))
# df_new_g = df_new_g[['分配数', '总完成', '总完成率']]
# with pd.ExcelWriter('F:/需求/仕程需求/归还逾期催收月末复盘数据_7月.xlsx', engine='xlsxwriter') as writer:
#     df_new_g.to_excel(writer, sheet_name='完成率')
df_ghyq_g

     分配数  已买断  已归还  已续租  仍在逾期      应催收金额    实际催回金额  总完成    总完成率
姓名
吴威宇   48   11    0   15    22  267133.54  63009.99   26  54.17%
张文奔   48    8    0   17    23  263999.57  57433.19   25  52.08%
李成铭   48    8    2   18    20  267939.19  63740.99   28  58.33%
林大鲲   22    1    1    2    18  122363.01   9246.74    4  18.18%
郑文涛   48    7    2   20    18  269667.88  52308.74   29  60.42%
郑瑞杰   47    6    0   20    20  274239.63  37920.28   26  55.32%
陈锐    47   12    2   11    21  249341.41  64940.67   25  53.19%

# 租金逾期

In [20]:
# tprm.overdue_type,yat.催收状态,3为已完成其它都为逾期
# yat.max_day IN (26,27,29,31) max_day为数据类型，仅需要这4个类型
sql_zj = '''
select
yat.order_id, yat.add_time, yat.allot_time, yat.催收状态, yat.agent_user_name, yat.max_day, tprm.search_time, om.status, om.has_actual, tprm.relet_days, tprm.relet_periods
,case om.`status` when  1 then "待支付" when  2 then "待发货" when  3 then "待收货" when  4 then "租赁中" when  5 then "待归还" 
when  6 then "待商家收货" when  7 then "退押中" when  8 then "已完成" when  10 then "已退款" when  11 then "待退押金" when  12 then "待审核" 
when  13 then "订单取消" when  15 then "检测中" when  9999 then "逾期订单" end as status2
,ymos.refund_date, ymos.reality_refund_date, yat.应催收金额, yat.实际催回金额,yat.task_number, yat.agent_user_id
from (select distinct task_number,order_id,add_time,agent_user_name,allot_time,status 催收状态, max_day, money_expect 应催收金额, money 实际催回金额, agent_user_id from db_rent.ya_agent_task where overdue_type=0) yat
left join db_digua_business.t_order om on om.id=yat.order_id
left join db_digua_business.t_postlease_receivables_monitoring tprm on tprm.order_id=yat.order_id
left join db_rent.ya_merchant_order_stages ymos on ymos.order_id=om.id
where date_format(add_time,'%Y-%m-%d')>='2025-08-01'
and date_format(add_time,'%Y-%m-%d')<='2025-08-31'
and  yat.max_day IN (26,27,29,31) 
'''
df_zj = query(sql_zj)

In [9]:

# df_123 = df_12[df_12.agent_user_name=='自有催收组-陈锐']
# # 检查order_id是否存在重复    检测     
# df_123[df_123.task_number.duplicated()]
# df_new.shape
# df_zj[df_zj.agent_user_id==420].shape

In [25]:
t_date = datetime.now().strftime('%Y%m%d%H')
name_list = ['自有催收组-吴威宇','自有催收组-陈锐', '自有催收组-张文奔', '自有催收组-郑瑞杰','自有催收组-林大鲲','自有催收组-郑文涛', '自有催收组-李成铭']# ,'自有催收组-江文祥'
# 筛选agent_user_name包含深圳市润广贸易有限公司和在name_list中的人
# 使用na=False参数处理NaN值
df_zjyq = df_zj[
    df_zj.agent_user_name.str.contains('深圳市润广贸易有限公司', na=False) | 
    df_zj.agent_user_name.isin(name_list) 
    # | (df_zj.agent_user_id == 420)
]
# allot_time任务分配时间    2025-07-01
# df_zjyq.drop_duplicates(subset=['order_id'], inplace=True)      
df_zjyq.loc[:, 'date'] = df_zjyq.allot_time.dt.strftime('%Y-%m-%d')
df_zjyq.loc[:, '姓名'] = df_zjyq.agent_user_name
# df_zjyq.loc[:, '姓名'] = np.where(df_zjyq.agent_user_id==420, '自有催收组-江文祥', df_zjyq.agent_user_name)
df_zjyq.loc[:, '已买断'] = np.where((df_zjyq.status.isin([3, 4]))&(df_zjyq.has_actual==1), 1, 0)
df_zjyq.loc[:, '已还款'] = np.where((df_zjyq.催收状态.isin([3, 4])), 1, 0)
# df_zjyq.loc[:, '已续租'] = np.where(df_zjyq.relet_days>0, 1, 0)
df_zjyq.loc[:, '仍在逾期'] = np.where(~df_zjyq.催收状态.isin([3, 4]), 1, 0)


# df_zjyq = df[(df.date>='2025-07-01')&(df.date<='2025-07-31')&(df.姓名.isin(name_list))]
# df_zjyq.drop_duplicates(subset=['task_number'], inplace=True)
# 取最新任务分配时间的任务号记录，不按订单号是因为可能一个订单号有多个任务号，比如租金催收和归还催收等等
df_zjyq = df_zjyq.sort_values('allot_time').groupby('task_number').head(1)
df_zjyq_g = df_zjyq.groupby('姓名').agg({'order_id': 'count', '已买断': 'sum', '已还款': 'sum','仍在逾期': 'sum','应催收金额': 'sum', '实际催回金额': 'sum'}).rename(columns={'order_id': '分配数'})
df_zjyq_g.loc[:, '总完成'] = df_zjyq_g.已买断+df_zjyq_g.已还款
df_zjyq_g.loc[:, '总完成率'] = (df_zjyq_g.总完成/df_zjyq_g.分配数).map(lambda x: format(x, '.2%'))

with pd.ExcelWriter('F:/需求/仕程需求/催收月末复盘数据_8月.xlsx', engine='xlsxwriter') as writer:
    df_zjyq_g.to_excel(writer, sheet_name='租金逾期完成情况')
    df_ghyq_g.to_excel(writer, sheet_name='归还逾期完成情况')

df_zjyq_g

,分配数,已买断,已还款,仍在逾期,应催收金额,实际催回金额,总完成,总完成率
姓名,,,,,,,,
深圳市润广贸易有限公司-chenzemei,190,0,115,75,123258.59,73878.72,115,60.53%
深圳市润广贸易有限公司-mocaidie,212,0,121,91,127722.14,71705.45,121,57.08%
深圳市润广贸易有限公司-wucheng,216,0,114,102,159775.79,84111.04,114,52.78%
深圳市润广贸易有限公司-wuwen003,185,0,111,74,121714.12,74957.82,111,60.00%
深圳市润广贸易有限公司-ying,238,0,122,116,147072.63,77660.62,122,51.26%
深圳市润广贸易有限公司-zhuxiaojuan,239,0,143,96,143829.35,84951.15,143,59.83%
自有催收组-吴威宇,510,0,350,160,319015.88,216575.92,350,68.63%
自有催收组-张文奔,510,0,356,154,316392.88,219016.03,356,69.80%
自有催收组-李成铭,511,0,375,136,317956.78,230097.91,375,73.39%
自有催收组-郑文涛,510,0,361,149,325033.91,227093.59,361,70.78%
自有催收组-郑瑞杰,511,0,359,152,329271.32,234629.38,359,70.25%
自有催收组-陈锐,512,0,358,154,327202.74,231250.47,358,69.92%

In [24]:
df_ghyq_g

     分配数  已买断  已归还  已续租  仍在逾期      应催收金额    实际催回金额  总完成    总完成率
姓名
吴威宇   48   11    0   15    22  267133.54  63009.99   26  54.17%
张文奔   48    8    0   17    23  263999.57  57433.19   25  52.08%
李成铭   48    8    2   18    20  267939.19  63740.99   28  58.33%
林大鲲   22    1    1    2    18  122363.01   9246.74    4  18.18%
郑文涛   48    7    2   20    18  269667.88  52308.74   29  60.42%
郑瑞杰   47    6    0   20    20  274239.63  37920.28   26  55.32%
陈锐    47   12    2   11    21  249341.41  64940.67   25  53.19%

In [12]:
sql2 = '''
select
yat.order_id, yat.add_time, yat.sort, tprm.search_time, om.status, om.has_actual, tprm.relet_days, tprm.relet_periods
from (select order_id, add_time, sort from db_rent.ya_agent_task where overdue_type=0) yat
left join db_digua_business.t_order om on om.id=yat.order_id
left join db_digua_business.t_postlease_receivables_monitoring tprm on tprm.order_id=yat.order_id
'''
df2 = query(sql2)
df2.drop_duplicates(subset=['order_id'], inplace=True)

In [13]:
df2.loc[:, 'add_date'] = pd.to_datetime(df2.add_time.dt.date)
df2_new = df2[(df2.add_date>=pd.to_datetime('2024-10-01'))&(df2.add_date<=pd.to_datetime('2025-03-31'))]
df2_new

,order_id,add_time,sort,search_time,status,has_actual,relet_days,relet_periods,add_date
21278,351928,2024-10-01 00:30:02,[17],2023-05,8,1,184.0,7.0,2024-10-01
21280,424930,2024-10-01 00:30:02,[16],2023-06,8,1,360.0,12.0,2024-10-01
21282,425376,2024-10-01 00:30:02,[16],2023-06,4,0,122.0,5.0,2024-10-01
21283,425924,2024-10-01 00:30:02,[16],2023-06,8,1,332.0,12.0,2024-10-01
21286,500879,2024-10-01 00:30:02,[15],2023-07,4,0,62.0,3.0,2024-10-01
...,...,...,...,...,...,...,...,...,...
58998,1926032,2025-03-31 00:30:04,[4],2024-12,4,0,0.0,0.0,2025-03-31
58999,1926180,2025-03-31 00:30:04,[4],2024-12,4,0,0.0,0.0,2025-03-31
59000,1926626,2025-03-31 00:30:04,[4],2024-12,4,0,0.0,0.0,2025-03-31
59003,2048920,2025-03-31 00:30:04,[3],2025-01,4,0,0.0,0.0,2025-03-31
59004,2049071,2025-03-31 00:30:04,[3],2025-01,4,0,0.0,0.0,2025-03-31