In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# import seaborn as sns 
#sns.set(style="darkgrid")
plt.rcParams["font.sans-serif"]=["SimHei"]
plt.rcParams["axes.unicode_minus"]=False


from dateutil.relativedelta import relativedelta
from datetime import datetime as dt
import time

import warnings  
warnings.filterwarnings("ignore")

import sys
import pymysql
from sqlalchemy import create_engine
import json
import datetime 
from datetime import timedelta ,time 
import re

pd.set_option('display.max_columns', None)

In [2]:
def query(sql,
          host="rr-wz9wx0w3yti9d4f6wro.mysql.rds.aliyuncs.com",
          user="ylc",
          password="1O8t5lcJ5aMhwwPEUUjS",
          database = '' ,
          port=3306
         ):   
    conn = pymysql.connect(
        host=host,
        user=user,
        port=port,
        password=password,
        max_allowed_packet=1073741824,
        charset="utf8")
    try:
        df = pd.read_sql(sql, con=conn)
        conn.close()
    except:
        print('error')
        conn.close()
        raise
    return df

In [3]:
date1 = '2024-11-21'
date2 = '2024-11-26'

In [4]:
sql = f'''
select o.id,pr.req_id,pr.pay_id,o.create_time,o.order_number,pr.money
from db_digua_business.t_pay_record as pr 
left join db_digua_business.t_order as o on pr.order_id = o.id 
where o.merchant_id = 23  and pr.payment_status = 2
and o.create_time >= '{date1}' 
and o.create_time <= '{date2}'
-- and o.order_number='A2024101410083340'
'''
df = query(sql)

In [5]:
df

,id,req_id,pay_id,create_time,order_number,money
0,1753963,ZFBYSQ202411220900061,2024112222001426481420288972,2024-11-21 15:20:57,A20241121152056117,1.00
1,1754168,ZFBYSQ202411220900092,2024112222001408101426770485,2024-11-21 15:53:23,A20241121155323322,1.00
2,1754168,ZFBYSQ2024122014250278,2024122022001408101428698937,2024-11-21 15:53:23,A20241121155323322,262.44
3,1754963,ZFBYSQ202411220900123,2024112222001467251411882823,2024-11-21 18:45:28,A20241121184527151,1.00
4,1754963,ZFBYSQ2024122014245977,2024122022001467251412757192,2024-11-21 18:45:28,A20241121184527151,262.44
...,...,...,...,...,...,...
148,1770087,ZFBYSQ2024122014221819,2024122022001467051438583669,2024-11-25 16:38:33,A20241125163833267,316.18
149,1770658,ZFBYSQ2024112609003311,2024112622001442781401314977,2024-11-25 18:14:35,A2024112518143551,1.00
150,1771147,ZFBYSQ2024112609003512,2024112622001437141417440891,2024-11-25 20:47:58,A20241125204758119,1.00
151,1771147,ZFBYSQ2024122014221117,2024122022001437141401649165,2024-11-25 20:47:58,A20241125204758119,316.18
152,1771223,ZFBYSQ2024112609003713,2024112622001446361443828100,2024-11-25 21:36:31,A2024112521363155,1.00

In [6]:
df.to_excel(f'F:/需求/瑞彤需求/支付宝流水单号_{date1}-{date2}.xlsx', index=False)

In [7]:
# df_order = pd.read_excel(f'F:/需求/瑞彤需求/支付宝流水单号_{date1}-{date2}.xlsx')

In [8]:
# df_orders = tuple(df_order['订单号'].to_list())

In [9]:
# sql1 = f'''
# select o.id,pr.req_id,pr.pay_id,o.create_time,o.order_number from db_digua_business.t_pay_record as pr left join db_digua_business.t_order as o on pr.order_id = o.id 

# where o.merchant_id = 23  and pr.payment_status = 2
# and o.create_time >= '2024-09-01' and o.create_time <= '2024-11-01'
# and o.order_number in {df_orders}
# '''
# df1 = query(sql1)

In [10]:
# df1.to_excel('F:/需求/瑞彤需求/支付宝流水.xlsx')

In [11]:
# sql2 = f'''
# select from
# '''